*{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
    color:  #fbfcfd;
}

html {
    scroll-behavior: smooth;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: url("2chesspieces.png");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

button {
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

#front-info{
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}
.side-bar{
    width: 50px;
    height: 100vh;
    background: #5d0014;
    position: absolute;
    right: 0;
    top: 0;
}

.social-links img{
    margin: 5px auto;
    cursor: pointer;
}

.my-projects{
    background-image: url("2chesspieces.png");
    background-size: cover;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio-item{
    background: var(--clr-accent);
    overflow: hidden;
}

.portfolio-img {
    width: 300px;
    height: 300px;
    transition:
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.portfolio-img:hover{
    transform: scale(1.2);
    opacity: .5;
}

nav { display: none;}

.hamburger {
    background: var(--clr-dark);
    width: 2em;
    height:3px;
    border-radius: 1em;
    display: block;
    position: relative;
}

#what-i-do { 
    background-color: rosybrown;
}






